img.external-link {
  width: 30px;
  height: 30px;
}

img.store {
  width: 100px;
  height: 100px;
}

.content-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  margin: 10px;
}

.availability {
  font-family: "Roboto";
  padding-top: 50px;
  margin-top: 10px;
}

.availability-text {
  font-weight: 200;
  text-align: center;
  font-size: 42px;
  text-shadow: 2px 2px 4px #7e7d7d;
}

.platforms {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.platform-title {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px #7e7d7d;
}

.logo-wrapper {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.logo {
  width: 130px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-divider {
  height: 1px;
  border-bottom: 1px solid gray;
  width: 80%;
  margin: auto;
}

.banner-text-title {
  text-align: center;
  font-size: 96px;
  font-weight: 400;
  margin: 0;
}

.banner-text-subtitle {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  margin-top: 0;
}

.external-links {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.external-link {
  width: 25px;
  height: 25px;
  margin: 0 10px;
}

.others a {
  width: 120px;
  color: #0c4fa0;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
}
