nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #074166;
  width: 100%;
  box-shadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px;
  z-index: 1;
  height: 50px;
}

.nav-text {
  width: 200px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: white;
  /* margin-right: calc(50% - 110px); */
}

.home-button-wrapper {
  background-color: white;
  border-radius: 5px;
  margin: 5px 10px;
}

.home-button {
  height: 25px;
  margin-top: 3px;
}

.info-button {
  fill: #fff;
}

.contact-link {
  text-decoration: none;
}
