.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
}

.faq {
  width: 50%;
}

.faq-header {
  font-weight: 300;
  color: #0c4fa0;
  margin: 30px;
}

.faq-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  margin-bottom: 10px;
}

.faq-question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 13px;
}

.faq-question {
  font-size: 24px;
  font-weight: 300;
  color: #0c4fa0;
  margin: 0;
}

.section p {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 5px;
}

.faq-answer {
  padding-top: 0 !important;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 5px;
}

:local(span) {
  font-weight: 400;
}

li {
  padding: 3px;
  font-size: 18px;
  font-weight: 300;
}

.rose {
  color: #f18db0;
}

.lemon {
  color: #d6e063;
}

.eucalyptus {
  color: #56af57;
}

.clove {
  color: #a0877f;
}
